<p><br/>
   	Vi har gleden av å invitere din klubb til noen koordinerte aktivitetsdager på Steinsfjorden i Buskerud i mars. 
	Dette er ikke et stevne, men en happening!
	<br/>
</p>

<%= link_to "Admin", '#', :class => "admin_button round"%>


