<h1>GLIDING ON ICE 2011®</h1>
<p>
   	Vi har gleden av å invitere din klubb til noen koordinerte aktivitetsdager på Steinsfjorden i Buskerud i mars. 
	Dette er ikke et stevne, men en happening!
</p>

