<footer>
  <nav class="round">
    <ul>
      <li><a href="http://badham.com/">Website by RB Consulting</a></li>
      <li><a href="http://www.badham.com/erlend">Erlend</a></li>
    </ul>
  </nav>
</footer>
